@font-face {
  font-family: "dyuthi";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Dyuthi-Regular.ttf") format('truetype'),
       url("/fonts/Dyuthi-Regular.woff") format('woff'),
       url("/fonts/Dyuthi-Regular.woff2") format('woff2');
}

.dyuthi {
  font-family: "dyuthi";
}
